## You must first activate a Billing Account here: https://platform.openai.com/account/billing/overview
## Then get your OpenAI API Key here: https://platform.openai.com/account/api-keys
OPENAI_API_KEY=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

## Generate a random secret: https://generate-secret.vercel.app/32
NEXTAUTH_SECRET=b07d064d735468c324671e35a53d9708

## Only required for localhost
NEXTAUTH_URL=http://localhost:3000

## Create a GitHub OAuth app here: https://docs.github.com/en/apps/oauth-apps/building-oauth-apps/creating-an-oauth-app
AUTH_GITHUB_ID=adc961817f70d3a426e3
AUTH_GITHUB_SECRET=deb05e5029910240083cff871e83c3e9c3a6a887

# instructions to create kv database here: https://vercel.com/docs/storage/vercel-kv/quickstart and 
KV_URL="redis://default:692cb05a090541e28831cdb4e9c58e5c@open-crawdad-39500.kv.vercel-storage.com:39500"
KV_REST_API_URLREST_API_URL="https://open-crawdad-39500.kv.vercel-storage.com"
KV_REST_API_TOKEN="AZpMASQgNWEwMWQ4NTYtZTRhMi00OThmLWFkZDAtNzFmZGRhNmE4MDc0NjkyY2IwNWEwOTA1NDFlMjg4MzFjZGI0ZTljNThlNWM="
KV_REST_API_READ_ONLY_TOKEN="AppMASQgNWEwMWQ4NTYtZTRhMi00OThmLWFkZDAtNzFmZGRhNmE4MDc0ZIpSM91KNhGPZUduQd2LAD2nwpn1ppEEItuqQDdU-O4="

DB_URL="redis://default:692cb05a090541e28831cdb4e9c58e5c@open-crawdad-39500.kv.vercel-storage.com:39500"
DB_REST_API_URL="https://open-crawdad-39500.kv.vercel-storage.com"
DB_REST_API_TOKEN="AZpMASQgNWEwMWQ4NTYtZTRhMi00OThmLWFkZDAtNzFmZGRhNmE4MDc0NjkyY2IwNWEwOTA1NDFlMjg4MzFjZGI0ZTljNThlNWM="
DB_REST_API_READ_ONLY_TOKEN="AppMASQgNWEwMWQ4NTYtZTRhMi00OThmLWFkZDAtNzFmZGRhNmE4MDc0ZIpSM91KNhGPZUduQd2LAD2nwpn1ppEEItuqQDdU-O4="

